<div id="index-hero" class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <%= @map.name %>
      </h1>
      <h2 class="subtitle">
        <%= @map.description %>
      </h2>
    </div>
    <%= render 'searches/search' %>
  </div>
</div>

<%= render 'maps/map_div', map: @map %>

