<section>
  <div id="map"></div>
</section>

<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <%= @map.name %>
      </h1>
      <h2 class="subtitle">
        <%= @map.description %>
      </h2>

      <%= link_to 'Edit', edit_map_path(@map) %> |
      <%= link_to 'Back', maps_path %>
    </div>
  </div>
</section>

<script>
    mapboxgl.accessToken = 'pk.eyJ1Ijoib25kcmFlIiwiYSI6IjhmODI5MjRmMDNkYWYxYzNjMzBmZGU0MGQ4NjQ2YjBjIn0.cVmAkqpsuP4BR9eAnz5hCw';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v10'
    });
</script>

