<nav id="search-bar" class="level">
  <div class="level-item">
    <%= form_with url: search_path do |form| %>
      <div class="field">
        <p class="control has-icons-left">
          <%= form.text_field :search, class: "input is-medium", placeholder: "Search" %>
          <span class="icon is-small is-left">
           <i class="fas fa-search"></i>
          </span>
        </p>
      </div>
    <% end %>
  </div>
</nav>

<div id='map'></div>