<section class="section">
  <div class="container">
    <h1 class="title is-1">Maps</h1>

    <a class="button is-success is-rounded" href="/maps/new">
      <span class="icon is-medium">
        <i class="fas fa-plus-circle"></i>
      </span>
      <span>Make a New Map</span>
    </a>
    <div class="tile is-ancestor is-vertical">
      <div class="tile is-12">
        <%= render @maps %>
      </div>
    </div>
</section>
