<section class="section">
  <div class="container">
    <h1 class="title is-1">Maps</h1>
    <div class="tile is-ancestor is-vertical">
      <div class="tile is-12">
        <%= render @maps %>
      </div>
    </div>
</section>
