<section id="index-hero" class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Maps to share with your friends.
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="tile is-ancestor is-vertical">
      <div class="tile is-12">
        <%= render @maps %>
      </div>
    </div>
</section>



