/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bulma
 *= require_tree .
 *= require_self
 */

#map {
  height: calc(100vh - 350px);
}

.hero-body{
  padding: 1.5rem;
}

#menu { z-index: 99;}

.c-offcanvas,
.main {
    transition: transform .5s ease;
}

.main.is-open {
    transform: translate3d(17em,0,0)
}

#menu-content {
    padding: 15px;
}

#index-hero {
  width: 100%;
}

#search-nav {
  width: 100%;
  padding: 10px;
}

.navbar-item {
  flex-grow: 1;
}

#hamburger {
  flex-grow: 0;
}

#search {
  width: 100%;
}

.mapboxgl-ctrl-geocoder {
  width: 100%;
  max-width: 100%;
}